/* General setup; do not change the given CSS code. Add your own CSS code at the bottom! */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

/* header and footer */

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

body {
  font-size: 1rem;
  font-family: "Crimson Text", serif;
  line-height: 1.15rem;
  letter-spacing: 0.025rem;
  word-spacing: 0.075rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 0.05rem;
}

header h1 {
  text-align: center;
}
section p:first-of-type {
  text-indent: 1.25rem;
}
a:visited,
a:focus,
a:hover {
  color: #a66;
}

a {
  text-decoration: underline;
  color: #a66;
}

a:hover,
a:focus {
  text-decoration: none;
}

a {
  outline: none;
}

a:active {
  font-style: italic;
}

ul,
ol {
  list-style-type: square;
  padding-left: 2.25rem;
}

ol {
  list-style-type: decimal;
}

li {
  line-height: 2.15rem;
}
h1::before {
  text-decoration: dotted underline;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

nav ul li {
  border-bottom: 1px solid #a66;
  padding: 1rem;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 0.15rem;
  font-size: 1rem;
  font-weight: bold;
}

nav ul li a {
  color: #a66;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}
